body {
  text-align: center;
}

#page {
  width: 960px;
  text-align: left;
  margin: 10ox auto  20px auto;
  background-color: #8c8c8c;
}

#sidebar {
  float: left;
  width: 200px;
  border: 1px solid #000;
}

#content {
  float: left;
  width: 600px;
  border: 1px solid #f00;
  padding: 10px;
}

img {
  width: 30px;
  height: 30px;
}

.comment {
    margin: 20px 0px 20px 20px;
}
